@charset "UTF-8";   /* contentやコメントに日本語を使うため */

/* footer */
footer {
    background: #ddd;
    color: #333;
    padding: 20px;
}
footer .ourname {
    font-family: serif; /*'Noto Serif CJK JP';*/
    font-size: 260%;
    margin-block-start: 0px;
    margin-block-end: 10px; /* paddingでもmarginでもよさそうだが*/
    /*padding: 0 0 30px 0;    /*  */
    /*margin: 0 0 30px 0;     /*  */
}
footer .footer_contents {
    display: flex; /* 横並びにする */
    /* margin-block-end: 20px; paddingでもmarginでもよさそうだが*/
    /*padding: 0 0 30px 0;    /*  */
    /*margin: 0 0 30px 0;     /*  */
}

/* 連絡先 */
footer table {
    border-spacing: 0px;
    /*line-height: 0;*/
    /* border-collapse: collapse; collapse:隣接するセルの枠線を重ねる separate:枠線の間隔を空ける */
}
footer td {
    padding: 0 0.2rem;
    /* min-width: 83px; 折り返しが発生しないように設定値を決めた */
}
/* footer dt {
    float: left; 左に浮遊させることで dd コンテンツを右に回り込ませる */
    /* clear: both; dt 要素自体は回り込ませない */
    /* padding: 10px 0; 上下に余白
    padding: 0 0.4rem;
    width: 20%;
}
footer dd {
    width: 80%;
} 
footer .address{
    margin: 0 0 0 5%;
    padding: 0;
    width: 70%;
}*/
footer .name_address {
    width: 70%;
    /* background: #ddd; */
}
footer nav {
    display: flex;
    align-items: center;    /* 上下真ん中に置く */
    width: 20%;
    margin: 0px auto;  /* 左右のマージンを auto にすることでセンタリングされる */
    /* background: #ddd; */
}
footer .address{
    /*justify-content: center;  ←効かない　　配置を真ん中に */
    /* margin: 0px auto;  左右のマージンを auto にすることでセンタリングされる */
    margin: 0 0 0 10%;  /* 左右のマージンを auto にすることでセンタリングされる */
    /* background: #ccc; */
    /* height: 70%;    指定しないと、親の高さに合わせて均等になるように高さが調整される */
}
footer .address th {
    text-align: right;
    color: #555;
}
footer .address img {
    /*margin: 0 0 0 5%;*/
    padding: 0.4rem;
    width: 1.2rem;
    vertical-align: bottom; /* デフォルトでは画像の下端は文字の下端ではなく、アルファベットのベースライン(yやpの下髭を無視する）に合わせてしまう。これをyやpの下髭まで含めた下端に合わせる */
}

footer ul {
    list-style-type: none; /* リストの先頭「・」を表示しない */
    margin-block-start: 0;      /* デフォルトが 1em のため（上が空いてしまう） */
    margin-block-end: 0;
    padding-inline-start: 0px;  /* デフォルトが 40px のため（左が空いてしまう） */
}
footer > ul {   /* 「サイトマップ」「プロパティ」用 */
    margin: 0 0 5px;
    padding: 0;
    display: flex; /* 横並びにする */
    justify-content: flex-end; /* 右寄せにする（配下のブロックたちを） */
}
footer > ul li {
    margin: 0 0 0 20px;
    font-size: 80%;
}
footer nav li {
    padding-top: 0.4rem;
}
footer a,
footer a:link,
footer a:visited
/*footer ul li a,
footer ul li a:link,
footer ul li a:visited*/ {
    text-decoration: none;
    /* font-size: 13px; */
    color: #333; /*  */
    /* box-shadow: 3px 3px 0 #000; 影・ドロップシャドウをつける */
}
footer a:hover
/*footer ul li a:hover*/ {
    color: #888;    /* opacity(透明度)で変化させるのも良い（背景次第） */
    text-decoration:underline;
    transform: scale(1.2);  /* なぜか効かない */
}

footer .copyright {
    margin: 0;
    text-align: right;
    color: #888;
}
@media screen and (max-width: 560px) {
    footer {
        /*line-height: 0.2;*/
        font-size: 70%;
    }
    footer .address img {
        padding: 0.2rem;
        width: 1.0rem;
    }
}