@charset "UTF-8";   /* contentやコメントに日本語を使うため */
/* 配色 */

html {
    scroll-behavior: smooth;    /* 「トップへ戻る」クリック時に少し時間をかけてスクロールさせるため。他の影響不明 */
    font-size: 100%; /* 100% は通常 1em = 1rem = 16px = 12pt , %指定にしておくと、ユーザがブラウザで指定した拡大率が反映される
    他の px 表記もすべて rem(htmlタグのfont-sizeに対する相対) や em(親のサイズへの相対)に変更すべき */
}
body {
    font-family:  "Noto Sans JP";
    /* font-family: "Yu Mincho","Hiragino Mincho Pro",serif;
    /* font-family: ,-apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
    color: #000
}
a,
a:link,
a:visited {
    text-decoration: none;
    color: #222;    /* #; */
    /* transition: 0.4s linear;    変化時のアニメーション（hover側で設定するとhover解除時はアニメにならないのでこちらに） */
}
a:hover,        /* マウスをのっけた瞬間 */
a:active {      /* クリック後、画面遷移するまで */
    color: #888;
    /* 効かない transform: translate(0,5px); 少し下に移動 他の例：rotate(180deg)：反転;*/
}
a:hover img {
    filter: brightness(0.8); /*なぜか効かない（元画像が黒だから？） */
    /*filter: contrast(0.2);  */
    /* filter: invert(1); /* 白黒反転 */
    /* transition: 0.8s; ゆっくり変化させる（hoverではなくa側にかけないと戻るときに一瞬で戻ってしまう） */
}
/* img {
    width: 100%;    親からはみ出さない・・・親に合わせて拡大してしまう画像があのでやめておく
} */

/* main 全ページ共通 */
main {
    line-height: 1.7;
    /* margin-top: 54px;   トップバーの高さ */
}
/*main .inner {
    width: 990px;
    margin: 50px auto;  /* 左右のマージンを auto にすることでセンタリングされる */
/*}*/
.to_top {  /* トップへスクロールする矢印画像 */
    width: 48px;
    position: fixed;    /* ブラウザ画面の絶対位置指定とする */
    bottom: 50px;
    right: 50px;
    opacity: 0.5;   /* 画像の透明度 */
}
/* home -- トップページ専用 */
.kasaneru_ugoku_tate {
    background: /*url(../images/atsushikase_Portfolio.png),*/url(../images/DSC_0276_rs-05_ton_tr16x9.jpg);
    background-repeat: /*no-repeat,*/no-repeat;
    background-position: /*right,*/center; /*  top上を起点にして左右centerに配置 */
    background-size: /*auto,*/cover; /* 領域内を覆うようにサイズ変更 */
	position: relative;/*親要素にrelative*/

	margin : 0 auto 0;
	width : 100%;
	height: 85vh;	/* 縦スクロール用に追加 */
	font-family: "Permanent Marker","Trajan Pro","Impact","Sylfaen","MS P明朝","MS Pmincho",serif; /* ★★フォントは後で選びなおす */

	text-align : center;
	overflow : hidden;
    /*background: red;*/
}
.kasaneru_ugoku_tate p{
	position: absolute; /*重ねたい子要素にabsolute*/
	top: 2%;
	left: 3%;
	color: #fff;
	font-size: 500%; /* 260% 2.6rem; /* 1.8 */
	text-shadow:
	        2px 2px 4px black, /* offset-x | offset-y | blur-radius | color */
	        0 0 1em #222, /* #250d00 */
	        0 0 0.2em #444; /* #543625*/

	/*margin: 0 auto 0;*/
	display : flex; /*inline-block;*/
    /*text-align: center;*/
    /*justify-content: center;*/
	/* padding-left: 100%; */
	white-space : nowrap;
	line-height : 1.2em; /* 3.4em */
	animation : scroll_tate 6s ease-out; /* 10s linear infinite */
}
/* 右から左にスクロール
@keyframes scroll_yoko{
	0% { transform: translateX(0)}
	100% { transform: translateX(-100%)}
} */
/* 下から上にスクロール */
@keyframes scroll_tate{
	0% { transform: translateY(5em); opacity: 0;} /* フォントが読み込まれるまでの時間稼ぎ */
	20% { transform: translateY(4em); opacity: 0;} 
	100% { transform: translateY(0em)} 
}
section img {
    box-sizing: border-box; /* width/height:の値にpadding/borderの値を含める */
}
.category {
    /* background: #eee; */
    margin: 0;
    padding: 1rem 0 0 0; /* bottomはスクロールバーから下の距離なので 0  */
    scrollbar-color: #fff #f0f0f0; /* 二つの有効な色。一つ目はスクロールバーのつまみ、二つ目はトラックに適用される。 */
}
.category_odd {
    background: #f0f0f0;
    scrollbar-color: #c0c0c0 #f0f0f0; /* 二つの有効な色。一つ目はスクロールバーのつまみ、二つ目はトラックに適用される。 */
}
.category_even {
    background: #fff;
    scrollbar-color: #ddd #fff; /* 二つの有効な色。一つ目はスクロールバーのつまみ、二つ目はトラックに適用される。 */
}
.category_design {
    background: #f0f0f0;
    scrollbar-color: #aaa #ddd; /* 二つの有効な色。一つ目はスクロールバーのつまみ、二つ目はトラックに適用される。 */
}
.category_trip {
    padding-bottom: 2rem;
}
.category_title {
    box-sizing: border-box; /* width/height:の値にpadding/borderの値を含める */
    padding: 0 6rem 0 1rem;  /* 1.2rem 3rem 1rem 2rem; */
    margin: 1.2rem 1rem 1rem 2rem; /* 10px 0 20px; 50px 0 20px */
    font-weight: normal;
    font-size: 180%; /*28px;*/
    color: #000;

    display: inline-block;
    border-bottom: 2px solid #000;
    /*text-align: center;*/
    /*display: inline;*/
}
.category_photo .category_title {
    padding: 0 1rem 0 1rem;  /* コメントの分だけ減らす */
}
.h2migi {
    font-size: 50%; /*28px;*/
    color: #aaa;
    margin-left: 1rem;
}
.filter_buttons {
    /*display: inline;*/
    margin-top: 1.5rem;
    margin-left: 2rem;
    /*color: #800;*/
}
.filter_buttons button {
    border: #222;
    padding: 0.5rem 1rem;
    /*box-shadow: 0 0 0 4px #cbd6ee;*/
    font-size: 80%;
    color: #222;
}
.filter_buttons button:hover {
   border-bottom: 2px solid  #333;
}
/*.filter_buttons .design_botton2,
.filter_buttons .design_botton3,
.filter_buttons .design_botton4 {*/
.filter_buttons .unselected {
    background: #ddd;
    /*border: 1px solid  #777;*/
}
/*.filter_buttons .design_botton1 {*/
.filter_buttons .selected {
    background: #bbb;
    border-top: 1px solid  #999;
    border-right: 1px solid  #999;
    border-left: 1px solid  #999;
    border-bottom: 2px solid  #bbb;
}

.filter_gallery {
    background: #bbb;
}

.category > ul {
    list-style-type: none; /* リストの先頭「・」を表示しない */
    display: flex; /* 要素を横並びに */
    /* flex-wrap: wrap; 要素の合計サイズが幅を超えたら折り返す。nowrap（初期値）折り返さない。wrap-reverse 逆順で折り返す */

    justify-content: space-around;
    margin-block-end: 0;
    padding-inline-start: 0px;  /* ul のデフォルトは 40px になっていて左が空く */
    margin-top: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; /* コンテンツからスクロールバーまでの距離 */

    flex-wrap: nowrap; /* 要素の合計サイズが幅を超えたら折り返す。nowrap（初期値）折り返さない。wrap-reverse 逆順で折り返す */
    /* width: 100vw; 画面サイズの 1.0 倍にしておく→すべてのコンテンツは入りきらない */
    /*height: 100px;*/
    /*flex-direction: row;*/
    border: 0px solid rgb(180, 180, 180);
    overflow-x: scroll; /* 横スクロールバーを出す */
}
.category_movie > ul {
    height: 19rem; /* なぜか縦スクロールバーが出てしまうことへの対応（後で調査） */
}
.category_design > ul > li,
.category_movie > ul > li,
.category_photo > ul > li {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    /* background: #ccc; */
    /*min-width: 25%;*/
    /*max-width: 33%;*/
    /*height: 25rem;*/
    font-size: 80%;
}
.work_div {
    width: 16rem; /* 18 */
    height: 25rem; /* 26 -- 減らすと画像が小さくなる。削りすぎると横スクロールバーが消える */
    /*display: block;
    display: flex;
    flex-direction: column;
    background-color: #a88;
    justify-content: center;*/

}
.category_movie .work_div {
    height: 14rem;
}
.category_photo .work_div {
    /*width: 16rem;  18 */
    height: 14rem;
}
.work_type {
    display: block;
    text-align: center;
    /*display: inline;
    margin: 0 auto 0 auto;*/
    /*margin-bottom: 0.5rem; 効かない */
    padding: 1px 4px;
    /*border: 1px solid #333;*/
    color: #333;
    border-radius: 5px;
    /*background-color: #666;*/
}
.work_year {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0px 4px 0 4px;
    /*border: 1px solid #333;*/
    font-size: 90%;
    color: #ddd; /*#333;*/
    border-radius: 5px;
    background-color: #999 /*#9d9;*/
}
.work_title {
    /*display: block;
    text-align: center;*/
    margin: 0;
    padding: 4px 0px 5px 0px;
    /*border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    background-color: #9d9;*/
}
.work_comment {
    display: block;
    margin: 2px;
    padding: 1px 4px;
    /*color: #333;*/
    line-height: 1.4;

    border-radius: 5px;
    background-color: #ccc;
}
.work_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*margin-top: 0.5rem;*/
    /*width: auto;*/
    height: 78%;
    color: #666;        /* 「Youtubeリンク」用 */
    /*background-color: #8a8;*/
}
.work_image:hover,        /* マウスをのっけた瞬間 */
.work_image:active {      /* クリック後、画面遷移するまで */
    color: #aaa;        /* 「Youtubeリンク」用 */
}
.work_image a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*object-fit: contain;*/
    max-width: 100%;
    height: 100%;    /*max-height: 100%; なぜかこれはだめ*/
    /*background-color: rgb(23, 23, 141);*/
}
.work_image img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    /*width: auto;*/
    /*height: auto;*/
    /*object-fit: contain;*/
    /*padding: 10px 20px;*/
    /*background-color: #88f;*/
}
.work_note {
    height: 15%;
    margin: 1rem 0 0 0;
    /*padding: 0 0 2rem 0;*/
}
.work_note tr th {
    text-align: right;
    padding-right: 0.5rem;
    font-weight: normal;
    color: #444;
    min-width: 4rem;
}
.category_viewmore {
    box-sizing: border-box; /* width/height:の値にpadding/borderの値を含める */
    /*padding: 2rem auto;*/
    width: 15rem;
    height: 3rem;
    margin: 20px auto 20px auto; /* 10px 0 20px; 50px 0 20px */
    font-weight: normal;
    font-size: 120%; /*18px;*/
    /* color: #000; */
    display: block; /*inline-block; /*; block; inline(要素の横並び可)をやめる noneは非表示 */
    /*justify-content: center;*/
    text-align: center;
    /* background: #666; */
}
.trip {
    list-style-type: none; /* リストの先頭「・」を表示しない */
    /* display: flex; 要素を横並びに */
    flex-wrap: wrap; /* 要素の合計サイズが幅を超えたら折り返す。nowrap（初期値）折り返さない。wrap-reverse 逆順で折り返す */

    justify-content: space-around;
    padding-inline-start: 0px;  /* ul のデフォルトは 40px になっていて左が空く */
    /* margin: 50px auto;  左右のマージンを auto にすることでセンタリングされる */

    width: 7rem;
    /*height: 12rem;*/
    /* margin-bottom: 3rem; 全旅行を折り返してすべて表示する場合に折り返した行が近すぎないよう設定する */
}
.trip li {
    text-align: center;
    font-size: 85%;
    
    /* background: #ccc; */
}
.trip .trip_image {
    height: 5.5rem;

    display: flex;      /* 位置を指定するため */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    /* border: 1px solid black; 表示位置確認のためのボーダー */
}
.trip img {
    max-width: 6.5rem;
    /*height: auto;*/
    max-height: 5.4rem;
    object-fit: contain;
}
.trip_web a {
    font-size: 80%;
    color: #666;
}
.trip_web a:hover,        /* マウスをのっけた瞬間 */
.trip_web a:active {      /* クリック後、画面遷移するまで */
    color: #aaa;
    /* 効かない transform: translate(0,5px); 少し下に移動 他の例：rotate(180deg)：反転;*/
}
/*
@media screen and (max-width:1345px) {
    .category_movie .work,
    .category_photo .work {
            width: 30rem;
    }
}
@media screen and (max-width:1010px) {
    .category_movie .work,
    .category_photo .work {
            width: 20rem;
    }
}*/
@media screen and (max-width:920px) { /* 767px -> .innerのwidthに合わせる。padding含むので＋αしてる */
    /*main {
         margin-top: 60px;   トップバーの高さ
    } */
    .visual {
        /*background-size: cover; 領域内を覆うようにサイズ変更→通常サイズも同じにした */
        /*height: 200px; →画像サイズにまかせることにした*/
        padding: 40px 30px 0; /* 上　左右　下 */
    }
}
@media screen and (max-width:770px) { 
    .kasaneru_ugoku_tate p{
	top: 15%;
        font-size: 300%; /* 1.6rem 1.8 */
    }
}
@media screen and (max-width:475px) { 
    .kasaneru_ugoku_tate p{
	top: 24%;
        font-size: 200%; /* 1.6rem 1.8 */
    }
}

/******* モーダル表示用 参考：https://dubdesign.net/download/html-css/modal-window ******/
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;/*5px 5px;*/
    text-align: center;
  }
  
  .modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  
  .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
  }
  
  .modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    /*width: 70%;
    max-width: 600px;*/
    /*padding: 10px;
    border-radius: 2px;*/
    /*background: #eee; バックグラウンドは透明にする*/
    /*box-shadow: 0 0 30px rgba(0, 0, 0, .6); 効いているようにみえない*/
    vertical-align: middle;/**/
  }
  /*
  .modal-wrapper .modal-window {
    max-height: 80vh;
    overflow: hidden;
    text-align: left
  }*/

  .modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
  }
  /* クローズボタンはフォント導入が必要なので保留
  .modal-wrapper .modal-close {
    z-index: 2000;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    color: #264286 !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
  }
  
  .modal-wrapper .modal-close:hover {
    color: #2b2e38 !important
  }*/

  .modal-window img {
    /*box-sizing: border-box;*/
    max-width: 95%;
    max-height: 100vh;   /* 上位のクラスで指定したサイズに画像を合わせようとしたが、うまくいかないのでこれを使う */
    /*height: 30%;
    object-fit: scale-down;*/
  }
  .modal-window a:hover img {
    filter: brightness(1); 
}